# Cartelle di backup (solo locali)
backup_base/
backup2/
progetto_estetico/
file/

# File PDF e immagini non necessari online
*.pdf
*.png

# File della vecchia generazione PDF
create_pdf.py
dati_turni.json
config.yaml
Guida_Avvio.pdf
tabella_turni.png
